@import 'styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

@import 'styles/cards';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    color: $clr-light-gray;
    font-family: $font-lexend;

    display: flex;
    justify-content: center;

    margin-top: 2em;
    margin-bottom: 2em;
}

.container {
    width: 85%;
    max-width: 1024px;

    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 765px) {
    body {
        height: 100vh;
        display: grid;
        place-items: center;
    }
    .container {
        flex-direction: row;
        height: 60%;
        max-height: 500px;
    }
}