section { 
   padding: 2.5em;

   img, h2, p {
       margin-bottom: 1em;
   }

   h2 {
       font-family: $font-big;
       font-size: 2em;
   }

   p {
       color: $clr-white-font;
       line-height: 1.4em;
       margin-bottom: 1.5em;
   }

   button {
       padding: 1em 1.5em;

       border: none;
       border-radius: 2em;
       font-family: $font-lexend;
       border: 2px solid $clr-light-gray;

       transition: all 0.5s ease;

       cursor: pointer;
       &:hover {
           border: 2px solid $clr-light-gray;
           background-color: transparent;
           color: $clr-light-gray;
       }
   }
}

.sedans {
    background-color: $clr-card-orange;
    border-radius: 0.5em 0.5em 0 0;
    button {
        color: $clr-card-orange;
    }
}

.suvs {
    background-color: $clr-card-cyan;
    button {
        color: $clr-card-cyan;
    }
}

.luxary {
    background-color: $clr-card-dark-cyan;
    border-radius: 0 0 0.5em 0.5em;
    button {
        color: $clr-card-dark-cyan;
    }
}

@media screen and (min-width: 765px) {
    section {
        position: relative;
        padding: 2.5em;
        
        button {
            position: absolute;
            bottom: 3em;

            padding: 1em 2em;
        }
        p {
            line-height: 1.5em;
        }
    }

    .sedans {
        border-radius: 0.5em 0 0 0.5em;
    }
    .luxary {
        border-radius: 0 0.5em 0.5em 0;
    }
}