// COLORS

$clr-card-orange: hsl(31, 77%, 52%);
$clr-card-cyan: hsl(184, 100%, 22%);
$clr-card-dark-cyan: hsl(179, 100%, 13%);

$clr-white-font: hsla(0, 0%, 100%, 0.75);
$clr-light-gray: hsl(0, 0%, 95%);

// TYPOGRAPHY

// WEIGHT, 400
$font-big: 'Big Shoulders Display', cursive;

// WEIGHT, 700
$font-lexend: 'Lexend Deca', sans-serif;

